.primary-select {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
    color: #555;
  }

  mat-form-field {
    width: 100%;
  }
}
