$primary-color: #3B82F6;
$text-color: #555555;
$secondary-color: #1E3A8A;
$danger-color: #d32f2f;
$warning-color: #E9D502;
$done-color: #008000;
$gray-bg: #EEEEEE;
// $gray-bg: #0F0F10;
$gray-secondary-bg: #F1F3F6;
