<app-default-login-layout
    title="Faça login em sua conta"
    primaryBtnText="Faça login agora"
    secondaryBtnText="Cadastre-se agora"
    (submit)="submit()"
    (navigate)="navigate()"
    [disablePrimaryBtn]="!loginForm.valid"
>

    <form [formGroup]="loginForm">

    <!-- EMAIL -->
    <app-primary-input
        formControlName="email"
        label="Email"
        placeholder="Johndoe@gmail.com"
        type="email"
        icon="mail"
    >
    </app-primary-input>

    <!-- SENHA -->
    <app-primary-input
        formControlName="password"
        label="Senha"
        type="password"
        icon="lock"
    >
    </app-primary-input>

    <span class="forgot-password">Esqueceu sua senha?</span>

</form>

</app-default-login-layout>
